@import '../../../../utils/variables.scss';

.container {
  display: flex;
  background-color: white;
  border-radius: $radius;
  margin: $margin;
  padding: $padding;
  align-items: center;
}

.button {
  border: 2px solid $buttons;
	background-color: $buttons;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all .3s;
	
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.button:hover {
  border: 2px solid $buttons;
  background-color: white;
  &:after,
	&:before {
    background-color: $buttons;
  }
}

.button:active {
  transition: none;
  transform: translateY(1px);
}

.text {
  font-size: 1.5em;
  padding-left: 10px;
}