@import '../../utils/variables.scss';

.container {
  background-color: white;
  border-radius: $radius;
  flex-grow: 1;
  margin: $margin;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table {
  border-radius: $radius $radius 0 0;
  border-collapse: collapse;
  width: 100%;
}

.headerRow {
  background-color: $grid_header;
  padding: 1em;
  letter-spacing: 1.5px;
  text-align: left;
  cursor: default;
}

th, td {
  padding: .5em 0 .5em 0;
  max-width: 15em;
  word-wrap: break-word;
}

.firstHeader {
  padding-left: $padding;
  padding-right: $padding;
}

.firstRow {
  padding-left: 1.25em;
  padding-right: 1.25em;
  svg {
    color: $header;
  }
}

.tableRow {
  border-bottom: 1px solid $border;
  cursor: pointer;
  transition-duration: .3s;
}

.activeRow {
  border-bottom: 1px solid $border;
  background-color: $border;
  outline: none;
  cursor: pointer;
}

.tableRow:hover {
  background-color: $border
}

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: #25325ddb;
//   -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
// }