@import '../../utils/variables.scss';

.container {
  background-color: white;
  border-radius: $radius;
  flex-grow: 1;
  margin: $margin;
  max-height: 100%;
  overflow-y: scroll;
}

.table {
  border-radius: $radius $radius 0 0;
  border-collapse: collapse;
  width: 100%;
}

.headerRow {
  background-color: $grid_header;
  padding: 1em;
  letter-spacing: 1.5px;
  text-align: left;
  cursor: default;
}

th, td {
  padding: .5em 1em;
  max-width: 15em;
  word-wrap: break-word;
}

.tableRow {
  border-bottom: 1px solid $border;
  cursor: pointer;
}

.activeRow {
  background-color: $border;
  outline: none;
  cursor: pointer;
}

.tableRow:hover {
  background-color: $border
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}