@import '../../../../utils/variables.scss';

.container {
  background-color: white;
  border-radius: $radius;
  margin: $margin;
  padding: $padding;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  border-bottom: 1px solid $border;
  p {
    font-size: .5em;
    line-height: .5em;
    color: $border;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: $padding;
  padding-bottom: $padding;
}