@import '../../../../utils/variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: $radius;
  margin: $margin;
  padding: $padding;
}

.search {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 1em;
}

.button {
  background-color: $buttons;
  color: white;
  border-radius: 999px;
  outline: none;
  border: 1px solid $buttons;
  font-size: .8em;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: $buttons;
}

.button:active {
  transform: translateY(1px);
}